/DataAnalysis/
/scripts&instructions/
/src/main/java/Q_SubmissionSigmodVLDB/NASDAQ1_SEQPattern.java
/src/main/java/util/Batch_Result_Analysis.java
/src/main/java/util/KeyedDataPointNASDAQ.java
/src/main/java/util/NASDAQSourceFunction.java
/src/main/resources/NASDAQ_20101105.txt
/src/main/resources/NASDAQ_AAPL.txt
/src/main/resources/QnV70_73.csv
/src/main/resources/QnV_large.csv
/src/main/resources/QnV_R2000070_i.csv
/src/main/java/Q_SubmissionSigmodVLDB/
/src/main/resources/luftdaten_11245_i.csv
/src/main/resources/QnV_R2000070_i2.csv
/src/main/resources/luftdaten_11245_integrated.csv
/src/main/resources/QnV_R2000070_integrated.csv
